:root {
    color-scheme: light;

    /* light theme colors*/
    --color-bg: #727272;
    --color-text: #333338;
    --color-accent: oklch(65% 0.25 240);
    --border-color: oklch(50% 0.13 250);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark theme colors*/
        --color-text: #cdcdcd;
        --color-accent: oklch(65% 0.25 240);
        --border-color: oklch(50% 0.13 250);
    }
}

html {
    font-family: system-ui, sans-serif;
    color: var(--color-text);
    scroll-behavior: smooth;
    accent-color: var(--color-accent);
}

@keyframes marching-ants {
    to {
        stroke-dashoffset: -8; /* 5 + 3 */
    }
}

circle.selected {
    fill: #ff6b6b;
}

#selection-count, #language-breakdown {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 1em auto;
}

.language-breakdown dt {
    grid-row: 1;
    font-size: 0.9rem;
    color: var(--color-text);
    text-transform: uppercase;
    gap: 1rem;
}

.language-breakdown dd {
    grid-row: 2;
    font-size: 1.8rem;
    margin: 0;
    font-size: 25px;
    color: var(--color-text);
}


.selection {
  fill-opacity: 0.1;
  stroke: var(--color-bg);
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

dl.info {
display: grid;
grid-template-columns: max-content 1fr;
gap: 0.25em 1em;
margin: 0;
padding: 0.5em 1em;
font-size: 0.9em;
background-color: var(--color-bg);
border-radius: 0.75em;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(5px);
transition: opacity 0.5s, visibility 0.5s;
}

.tooltip {
position: fixed;
top: 1em;
left: 1em;
z-index: 1000;
}

dl.info[hidden]:not(:hover, :focus-within) {
opacity: 0;
visibility: hidden;
}

#scrolly-1,
#scrolly-2 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
  
  min-height: 160vh;
  padding-bottom: 20vh;
}


#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}

#scattered-story {
  position: relative;
}

#scatter-dot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}

#legend {
  font-size: 0.75rem;
  line-height: 1.2;
}

.step {
  padding-bottom: 30vh;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}


.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color, steelblue);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#files small {
  display: block;
  opacity: 0.6;
  font-size: 0.75em;
}

#files > div {
  display: grid;
  grid-template-columns: subgrid;
}

circle {
transition: 200ms;
transform-origin: center;
transform-box: fill-box;
transition: all 200ms, r calc(var(--r) * 100ms);
@starting-style{
    r: 0;
}
}

circle:hover {
transform: scale(1.5);
}

.gridlines line{
    stroke: var(--color-bg);
    stroke-opacity: 0.3;
}
.stats {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 0.5rem;
    margin: 2rem auto;
    max-width: 900px;
}

.stats dt {
    grid-row: 1;
    font-size: 0.9rem;
    color: var(--color-text);
    text-transform: uppercase;
    gap: 1rem;
}

.stats dd {
    grid-row: 2;
    font-size: 1.8rem;
    margin: 0;
    font-size: 15px;
    color: var(--color-text);
}

#projects-pie-plot {
    width: 100%;
    max-width: 20em;
    min-width: 8em;
    margin-block: 2em;
    flex: 1 1 12em;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    overflow: visible;
}

#projects-pie-plot path {
  transition: opacity 300ms ease;
  cursor: pointer;
}

#projects-pie-plot:hover path:not(:hover) {
  opacity: 0.5;
}

#projects-pie-plot path:hover {
  opacity: 1;
}

.selected {
    --color: oklch(73.557% 0.11208 354.908) !important;
}

.selected:is(path) {
    fill: var(--color);
}

path {
    cursor: pointer;
    transition: 300ms;
}

svg:has(path:hover) path:not(:hover) {
    opacity: 0.5;
}

.container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: 1rem;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1rem;
  flex: 1;
  padding: .5rem;
  background-color: color-mix(in oklch, var(--color-bg), canvas 85%);
  border-radius: 8px;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  min-width: 9em;
}

.legend li .swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color);
}

.projects article > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.projects article p,
.project-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: color-mix(in oklch, var(--color-bg), canvas 95%);
  padding: 0.6rem;
  border-radius: 8px;
}

.projects article p:first-child {
    flex: 1;
}

.projects article p:last-child {
    flex-shrink: 0;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    font-family: inherit;
    color: canvastext;
}

.color-scheme select {
    font-family: inherit;
    cursor: pointer;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 24px;
}

nav ul, nav li {
    display: contents;
}

nav {
    --border-color: var(--border-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-accent);
    margin-bottom: 1.5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    transition: background-color 1s ease-in-out;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

nav a.current {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

input, textarea, button {
    font: inherit;
}

.Tubby {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    font: inherit;
}

form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    border-radius: 8px;
    gap: 0.5em;
}

form input, form textarea, form button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

form button:hover {
    border-radius: 8px;
    background-color: oklch(from var(--color-accent) 55% 40% h);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

img {
  border-radius: 8px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    margin-block: 2em;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    margin: 0;
    gap: 1em;
}

.projects img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.projects h2{
    margin: 0;
    color: var(--color-text);
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    display: inline-block;
    background-color: color-mix(in oklch, var(--color-bg), canvas 85%);
    color: var(--color-text);
    padding: 0.25em 0.6em;
    border-radius: 0.5rem;
}

h1 {
    font-size: 400%;
    color: var(--color-text);
    margin-bottom: 0.5em;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}