body {
    /* Set line height to 1.5 times the font size
        and use the OS's UT font as the website fot
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: lem;
}

nav ul,
nav li {
    display: contents;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid oklch(80% 3% 200);
    margin-bottom: 1.5em;
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    font-weight: 500;
    transition: background-color 0.3s ease;
}